<%- include("partials/header", {pageTitle: "Blog",
                                link: "/blog",
                                subTitle: "Welcome to my thoughts and musings!"}) -%>

 <div class="row">
    <% for(let i = 0; i < posts.length; i++) { %>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="/posts/<%= posts[i].url %>">
                <div class="post">
                    <h3><%= posts[i].title %></h3>
                    <h4><%= posts[i].date.toLocaleDateString("en-US", {month: "long", day: "numeric", year: "numeric"}) %></h4>
                    <h4 class="category"><em>Category: <%= posts[i].category %></em></h4>
                    <img width="95%" src=<%="images/blog/i" + String(posts.length-i-1).padStart(3, '0') + ".png"%> alt="post image">
                </div>
            </a>
        </div>
    <% } %>
</div>
<div class="blog-bottom"></div>

<%- include("partials/footer") -%>