<%- include("partials/header", {pageTitle: "Blog",
                                link: "/blog",
                                subTitle: "Welcome to my thoughts and musings!"}) -%>

 <div class="row">
    <% for(post of posts) { %>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="/posts/<%= post.title %>">
                <div class="post">
                    <h3><%= post.title %></h3>
                    <h4><%= post.date.toLocaleDateString("en-US", {month: "long", day: "numeric", year: "numeric"}) %></h4>
                    <h4 class="category"><em>Category: <%= post.category %></em></h4>
                    <img width="95%" src="images/profile.jpg" alt="post image">
                </div>
            </a>
        </div>
    <% } %>
</div>

<%- include("partials/footer") -%>