<%- include("partials/header", {pageTitle: "Blog",
                                link: "/blog",
                                subTitle: "Welcome to my thoughts and musings!"}) -%>

<h2>Categories:</h2>
<div class="row categories">
    
    <% for(let cat of cats) { %>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <h3 class = "cat-link">
                <a 
                    class = "<%= cat.cat_url === current_cat_url ? "cat-current" : "" %>"
                    href="/categories/<%= cat.cat_url %>"
                >
                    <%= cat.category %>
                </a>
            </h3>
        </div>
    <% } %>
</div>

<div class="row">
    <% for(let i = 0; i < posts.length; i++) { %>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="/posts/<%= posts[i].url %>">
                <div class="post">
                    <h3><%= posts[i].title %></h3>
                    <h4><%= posts[i].date.toLocaleDateString("en-US", {month: "long", day: "numeric", year: "numeric"}) %></h4>
                    <h4 class="category"><em>Category: <%= posts[i].category %></em></h4>
                    <img width="95%" src=<%="/images/blog/" + posts[i].img_url%> alt="post image">
                </div>
            </a>
        </div>
    <% } %>
</div>

<% if (posts.length >= 24) { %><h3>Pages: <a>1</a>, <a>2</a>, <a>3</a></h3><% } %>

<div class="blog-bottom"></div>

<%- include("partials/footer") -%>