<%- include("partials/header", {pageTitle: "Blog",
                                link: "/blog",
                                subTitle: post.title}) -%>
<h3><%=post.date.toLocaleDateString("en-US", {month: "long", day: "numeric", year: "numeric"})%></h3>
<h3 class="post-cat"><em>Category: <%=post.category%></em></h3>
<div class="blog-content"><p><%- post.content %></p></div>
<%- include("partials/footer") -%>